#mainContainer {
    width: 65%;
}

.fee-name {
    margin-right: 5px;
}

.form-row {
    align-items: center;
    margin-bottom: 10px;
}

.control-label {
    font-weight: bold;
    padding: 0;
    /* margin-bottom: 1px; */
}

body {
    line-height: 1;
}